/* NAVBAR */
#navbar {
  background-color: black;
  height: 100vh;
  position: sticky;
  top: 0;
}
#containerNav {
  height: 100vh;
  margin: 0px;
}
#logo {
  width: 150px;
}
#search {
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 160px;
}
#buttonSearch {
  background-color: black;
  border-color: white;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
#signUp {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background-color: white;
  color: black;
  border-color: white;
}
#signUp:hover {
  background-color: green;
  border-color: green;
  color: white;
}
#login {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  border-color: white;
}
#login:hover {
  background-color: white;
  color: black;
}
#cookie a {
  text-decoration-color: black;
}
#cookie a:hover {
  text-decoration-color: white;
}


/* ALBUM-PAGE */
#albumPage {
  width: 100vw;
  height: auto;
  background: linear-gradient(to right, #285874, #001a29);
}
#linkAlbumPage a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(255, 254, 254);
  font-weight: 500;
}
#play {
  background-color: rgb(49, 49, 49);
  padding: 25px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
#play img {
  margin: 0px 12px 20px 12px;
  width: 15px;
  height: auto;
}
#progressBar {
  width: 500px;
  height: 2px;
}
#cardAlbum {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  color: white;
  padding: 0px;
}
#cardAlbum:hover {
  background-color: black;
}
#cardAlbum img {
  width: 180px;
}
#track:hover {
  background-color: black;
}
#imgTrack {
  width: 200px;
}
#canzoni {
  font-size: 25px;
}

